/* ---  _reset.scss --- */
* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* --- _mixins.scss --- */
/* --- _variables.scss --- */

/* --- _pageStyles.scss --- */
* {
  font-family: 'Muli', sans-serif;
  /* Adjust font size */
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px; }

body {
  background: rgba(205, 190, 156, 0.2);
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 60px; }

h1 {
  font-family: 'Merriweather', serif;
  font-size: 34px;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
  color: #909090; }

.container {
  width: 850px;
  margin: 0 auto; }

section {
  margin: 60px 0 0;
  height: 400px;
  position: relative; }
  section .number {
    width: 40px;
    height: 40px;
    font-family: 'Merriweather', serif;
    color: #ccc0a0;
    font-size: 30px;
    text-align: center;
    line-height: 34px;
    background: white;
    position: relative;
    z-index: 2; }
  section .tan-box {
    background: rgba(205, 190, 156, 0.8);
    width: calc(25% - 40px);
    height: 60%;
    top: 20px;
    left: 20px;
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center; }
    section .tan-box p {
      color: #6a5b3d;
      font-size: 14px;
      width: 70%;
      margin: 0 10% 0 20%;
      text-align: right;
      display: block; }
    section .tan-box span {
      text-align: right;
      display: block;
      font-size: 1.5em;
      line-height: 28px;
      color: white;
      margin: 10px 10% 10px 20%; }
  section .content-box {
    width: calc(75% + 20px);
    padding: 0 10%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: white;
    display: flex;
    align-items: center; }
    section .content-box > div {
      width: 100%; }
    section .content-box .code-chunk {
      font-family: "Courier New", Courier, monospace;
      line-height: 1.3em;
      padding: 10px;
      font-size: 12px;
      white-space: nowrap;
      overflow: auto;
      background: #eee;
      border-radius: 2px;
      color: #707070;
      max-height: 300px; }
.download-button {
    display: inline-block;
    background: transparent;
    border: 2px solid #6a5b3d;
    color: #6a5b3d;
    font-size: 14px;
    padding: 7px 12px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.25s ease all;
}
.download-button:hover,
.download-button:active,
.download-button:focus {
    background: #6a5b3d;
    color: white;
}

/*# sourceMappingURL=base.css.map */
